//////////////////////////////////////////////////////
//////////// ===  Theme Media Queries === ////////////
//////////////////////////////////////////////////////

@import "vars";

@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  .is-header {
    overflow: hidden;
    .is-navbar {
      background: rgba(43,49,65,1);
      position: relative;
      &.thin {
        background: rgba(43,49,65,1);
        position: fixed;
        padding: .5rem 0 !important;
      }
      &__contacts {
        color: #ffffff;
        &__item {
          margin-right: 1rem;
          &.mob-top-phone-navbar {
            display: block;
            .title {
              img {
                margin-left: 0;
              }
            }
          }
        }
      }
      .navbar-brand {
        img {
          max-height: 32px;
          margin-right: 1rem;
        }
        span {
          display: none;
        }
      }
      .desktop-menu-wrap {
        border-top: none;
      }
      .navbar-toggler {
        svg {
          max-width: 24px;
          width: 100%;
          max-height: 24px;
        }
      }
    }
    .is-navbar-mobile {
      transition: all .5s ease-in-out;
      transform: translate(0%, 100%);
      width: 100% !important;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: 300;
      padding: 1rem;
      display: block;
      background: #2b3141;
      overflow: hidden;
      &.show {
        transform: translate(0%);
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      &__divider {
        max-width: 80%;
        width: 100%;
        margin: 1rem auto;
        display: block;
        background: rgba(255,255,255,.5);
        height: 1px;
      }
      .navbar-brand {
        padding-top: 3rem;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        svg {
          max-width: 100px;
        }
        img {
          display: block;
          margin: 0 auto;
        }
        span {
          display: block;
          margin: 0 auto;
          font-size: .8rem;
          text-align: center;
        }
      }
      &__contacts {
        display: block !important;
        width: 100%;
        max-width: 75%;
        margin-left: 0 !important;
        &-wrapper {
          display: flex;
          justify-content: center;
          width: 100%;
        }
        &__item {
          display: block;
          margin: 0 auto;
          margin-bottom: 1rem;
          .title {
            img {
              margin-left: 0 !important;
            }
          }
        }
        &__item:nth-child(3){
          #formNotMobile{
            display: inline-block;
          }
          #formNotMobile{
            display: none;
          }
        }
      }
      .desktop-menu-wrap {
        .navbar-nav {
          li {
            text-align: center;
            &.active {
              .nav-link {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .is-footer {
    &__menu {
      padding: 1.5rem 0;
    }
    &__social {
      padding: .5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .btn {
        &:first-child {
          margin-top: 1rem !important;
        }
      }
    }
    &__contacts {
      &-wrapper {
        &__content {
          text-align: left;
          padding: 1rem;
          &-title {
            position: relative;
            z-index: 1;
          }
          &-item {
            position: relative;
            z-index: 1;
            .link {
              margin-left: 0;
            }
          }
          &:after {
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
          }
        }
      }
    }
    &__logo {
      min-height: auto;
      &-img {
        max-width: 100px;
        left: -1rem;
      }
    }
  }

  .is-main {
    .section {
      &__order {
        margin-top: 2.5rem;
        &__block {
          margin-bottom: .5rem;
          border-radius: 10px;
          display: block;
          &:before {
            display: none;
          }
          &__title {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
    .is-slider {
      min-height: 300px;
      .uk-slideshow {
        .uk-slideshow-items {
          li {
            min-height: auto;
            .uk-position-center {
              h2 {
                font-size: 1.75rem;
              }
              p {
                font-size: 1.25rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      &__btn {
        font-size: 1rem;
        padding: .5rem 3rem;
        margin-top: 1.5rem;
      }
      &__social {
        display: none;
      }
      &__mouse {
        max-width: 124px;
        bottom: calc(0% - 100px);
        z-index: 100;
      }
      .uk-dotnav {
        display: none;
      }
    }
    .is-working {
      padding-top: 2.5rem;
      h2 {
        margin-bottom: 2rem;
      }
      &__round-right {
        display: none;
      }
      &__cards {
        display: none;
      }
    }
    .is-about {
      &__wrapper {
        padding: 2rem 0;
        &__info {
          justify-content: center;
          &-title {
            text-align: center;
          }
          &-content {
            margin-top: 2rem;
          }
        }
        &-cards {
          &__card {
            position: relative;
            z-index: 2;
            &-img {
              max-width: 65%;
              display: block;
              margin: 0 auto;
            }
            &-btn {
              &:hover {
                -webkit-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                -moz-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
              }
            }
          }
        }
      }
      &__logo-left {
        opacity: .25;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
    .is-trust {
      &__wrapper {
        padding: 2rem;
        &-title {
          margin-bottom: 1rem;
        }
        &-slider {
          &__slides {
            margin-top: 2rem;
            &-slide {
              .uk-panel {
                max-width: 90%;
                margin: 0 auto;
              }
            }
          }
          .uk-dotnav {
            li {
              margin-bottom: 1rem;
            }
          }
          &__navs {
            display: none !important;
          }
        }
      }
    }
    .is-news {
      &__title {
        font-size: 1.625rem;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
  }

  .page {
    .is-header {
      .is-navbar {
        padding: .5rem 0;
        background: rgba(43,49,65,1);
      }
    }
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
      .is-main-about {
        background: none !important;
        padding-top: 1rem;
        padding-bottom: 2rem;
        .is-theader {
          padding-top: 0;
        }
        .is-about {
          &__content {
            margin-top: 0;
            &-info {
              padding-right: 1rem;
              text-align: center;
            }
            &-video {
              padding-left: 1rem;
              margin-top: 1rem;
              &__info {
                text-align: center;
              }
            }
            &-bgi {
              display: none;
            }
          }
        }
      }
      .is-reviews {
        padding: 4rem 0;
        &__title {
          line-height: 2rem;
        }
        &__slider {
          margin-top: 0;
          &-slide {
            min-width: auto !important;
            max-width: 290px !important;
            &__review {
              &.show {
                margin-top: -16rem;
              }
            }
          }
          &-wrapper {
            .is-trust__wrapper-slider__navs {
              margin-bottom: 1rem;
            }
            .uk-slider-items {
              li {
                width: 95%;
              }
            }
          }
        }
        &__line-thin {
          top: -80px;
        }
      }
      .is-contacts {
        padding-bottom: 0;
        &__form {
          margin-top: 1rem;
          padding: 2rem 0;
          &-title {
            margin-bottom: 1rem;
          }
          form {
            display: block !important;
          }
          &-input {
            margin-bottom: 1rem;
            height: 60px;
          }
        }
        &__map {
          margin-top: 0;
        }
      }
    }
    &:not(.home) {
      .is-header {
        .is-navbar {
          background: rgba(43,49,65,1);
        }
      }
      .is-main {
        .is-theader {
          padding-top: 1rem;
        }
        .is-advantages {
          &__content {
            &-card {
              &__img {
                min-height: 220px;
              }
            }
          }
        }
        .is-records {
          padding-top: .5rem;
          &__cards {
            padding-bottom: 2rem;
            &-circle {
              max-width: none;
              height: auto;
              padding: 3rem;
              &__title {
                text-align: center;
              }
              &__wrapper {
                order: 1;
                margin-top: 0;
                margin-bottom: 2rem;
              }
              &__inner {
                max-width: 200px;
                height: 200px;
              }
            }
            &-square {
              padding: 1.25rem 2rem;
              &__caption {
                font-size: 2.5rem;
                text-align: left;
                .capt {
                  font-size: 2.5rem;
                }
              }
              &__wrapper {
                margin-top: 1rem;
                &-caption {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  text-align: left;
                }
                &:nth-child(1) {
                  order: 2;
                }
                &:nth-child(2) {
                  order: 2;
                }
                &:nth-child(3) {
                  order: 3;
                }
                &:nth-child(5) {
                  order: 5;
                }
                &:nth-child(4) {
                  order: 4;
                }
              }
            }
          }
          &__round-right {
            display: none;
          }
        }
        .is-work {
          &__cards {
            &-card {
              border-top: none !important;
              border-left: 3px dashed rgba(255,255,255,0.5);
              -webkit-border-radius: 50% 0 0 50%;
              -moz-border-radius: 50% 0 0 50%;
              border-radius: 50% 0% 0 50%;
              padding-bottom: 2rem;
              border-bottom: none;
              &:first-child {
                border-bottom: none;
              }
              &:nth-child(2n) {
                border-top: none;
                border-right: 3px dashed rgba(255,255,255,0.5);
                -webkit-border-radius: 0 50% 50% 0;
                -moz-border-radius: 0 50% 50% 0;
                border-radius: 0 50% 50% 0;
                padding-bottom: 2rem;
                margin-top: 0;
                border-bottom: none;
                border-left: none;
              }
              &:nth-child(4) {
                order: 4;
              }
              &:nth-child(5) {
                order: 5;
              }
              &:nth-child(6) {
                order: 6;
              }
              &:nth-child(7) {
                border-top: none;
              }
            }
          }
          &__banner {
            padding: 1rem;
            &-title {
              font-size: 2rem;
              text-align: center;
              line-height: 2rem;
              margin-bottom: 1rem;
            }
            &-wrapper {
              padding: 3rem 1.5rem;
              z-index: 40;
              .d-block {
                width: 100%;
              }
            }
            &-btn {
              display: block;
              width: 100%;
              text-align: center;
            }
          }
          &__line-bold {
            top: 2rem;
            left: 1rem;
          }
          &__logo {
            &-bg {
              display: none;
            }
          }
        }
        .is-contacts {
          padding: 1.5rem 1rem 10rem;
          .wpcf7-form {
            .col-lg-4 {
              margin-top: 3rem;
            }
            .form-check {
              display: flex;
            }
          }
          .wpcf7-submit {
            margin-top: 1rem;
          }
        }
        .is-reviews {
          &__title {
            line-height: 2rem;
          }
        }
      }
    }
  }

  .category,
  .archive {
    .is-header {
      .is-navbar {
        padding: 0.5rem 0;
        background: rgba(43,49,65,1);
      }
    }

    .is-main {
      overflow-x: hidden;
      .is-theader {
        padding-top: 1rem;
      }
      .is-catlist {
        padding: 1rem;
        &__cards {
          justify-content: center;
          &-card {
            &__wrapper {
              &-header {
                &__title {
                  margin-bottom: 0;
                }
              }
              &-body {
                max-height: 400px !important;
              }
            }
          }
        }
      }
    }
  }

  .single {
    .is-header {
      .is-navbar {
        padding: .5rem 0;
        background: rgba(43,49,65,1);
      }
    }
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
      .is-category {
        &-title {
          padding: 2rem 0rem 5rem !important;
          &__title {
            text-align: center !important;
            font-size: 1.5rem !important;
          }
          &__dropdown {
            margin-top: 2rem;
          }
        }
        &-products {
          padding-bottom: 4rem !important;
          &__card {
            &:first-child {
              margin-top: 2rem !important;
            }
            &-portfolio {
              .col-lg-12.d-flex.justify-content-center {
                display: block !important;
              }
            }
            &-btn {
              display: block;
              text-align: center;
              margin-top: 1rem !important;
            }
            &-bbtn {
              display: block;
              text-align: center;
              margin-top: 1rem !important;
            }
          }
          &__line-bold {
            display: none;
          }
          &__line-thin {
            display: none;
          }
        }
      }
    }
    &-portfolio {
      .is-main {
        .is-news {
          &-single {
            &__title {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: 421px) and (max-width: 575px) {
  body {
    overflow-x: hidden;
  }
  .is-header {
    overflow: hidden;
    .is-navbar {
      background: rgba(43,49,65,1);
      position: relative;
      &.thin {
        background: rgba(43,49,65,1);
        position: fixed;
      }
      &__contacts {
        color: #ffffff;
        &__item {
          margin-right: 3rem;
          &.mob-top-phone-navbar {
            display: block;
            .title {
              img {
                margin-left: 0;
              }
            }
          }
        }
      }
      .navbar-brand {
        img {
          max-height: 48px;
          margin-right: 1rem;
        }
        span {
          display: none;
        }
      }
      .desktop-menu-wrap {
        border-top: none;
      }
      .navbar-toggler {
        svg {
          max-width: 24px;
          width: 100%;
          max-height: 24px;
        }
      }
    }
    .is-navbar-mobile {
      transition: all .5s ease-in-out;
      transform: translate(0%, 100%);
      width: 100% !important;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: 300;
      padding: 1rem;
      display: block;
      background: #2b3141;
      overflow: hidden;
      &.show {
        transform: translate(0%);
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      &__divider {
        max-width: 80%;
        width: 100%;
        margin: 1rem auto;
        display: block;
        background: rgba(255,255,255,.5);
        height: 1px;
      }
      .navbar-brand {
        padding-top: 3rem;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        img {
          display: block;
          margin: 0 auto;
        }
        span {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          text-align: center;
        }
      }
      &__contacts {
        display: block !important;
        width: 100%;
        max-width: 75%;
        margin-left: 0 !important;
        &-wrapper {
          display: flex;
          justify-content: center;
          width: 100%;
        }
        &__item {
          display: block;
          margin: 0 auto;
          margin-bottom: 1rem;
          .title {
            img {
              margin-left: 0 !important;
            }
          }
        }
      }
      .desktop-menu-wrap {
        .navbar-nav {
          li {
            text-align: center;
            &.active {
              .nav-link {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .is-footer {
    &__menu {
      padding: 1.5rem 0;
    }
    &__social {
      padding: .5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .btn {
        &:first-child {
          margin-top: 1rem !important;
        }
      }
    }
    &__contacts {
      &-wrapper {
        &__content {
          text-align: left;
          padding: 1rem;
          &-title {
            position: relative;
            z-index: 1;
          }
          &-item {
            position: relative;
            z-index: 1;
            .link {
              margin-left: 0;
            }
          }
          &:after {
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
          }
        }
      }
    }
    &__logo {
      min-height: auto;
      &-img {
        max-width: 100px;
        left: -1rem;
      }
    }
  }

  .is-main {
    .section {
      &__order {
        margin-top: 2.5rem;
        &__block {
          margin-bottom: .5rem;
          border-radius: 10px;
          display: block;
          &:before {
            display: none;
          }
          &__title {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
          &__btn {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .is-slider {
      min-height: 300px;
      .uk-slideshow {
        .uk-slideshow-items {
          li {
            min-height: auto;
            .uk-position-center {
              h2 {
                font-size: 1.75rem;
              }
              p {
                font-size: 1.25rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      &__btn {
        font-size: 1rem;
        padding: .5rem 3rem;
        margin-top: 1.5rem;
      }
      &__social {
        display: none;
      }
      &__mouse {
        max-width: 124px;
        bottom: calc(0% - 100px);
        z-index: 100;
      }
      .uk-dotnav {
        display: none;
      }
    }
    .is-working {
      padding-top: 2.5rem;
      h2 {
        margin-bottom: 2rem;
      }
      &__round-right {
        display: none;
      }
      &__cards {
        display: none;
      }
    }
    .is-about {
      &__wrapper {
        padding: 2rem 0;
        &__info {
          justify-content: center;
          &-title {
            text-align: center;
          }
          &-content {
            margin-top: 2rem;
          }
        }
        &-cards {
          &__card {
            position: relative;
            z-index: 2;
            &-img {
              max-width: 65%;
              display: block;
              margin: 0 auto;
            }
            &-btn {
              &:hover {
                -webkit-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                -moz-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
              }
            }
          }
        }
      }
      &__logo-left {
        opacity: .25;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
    .is-trust {
      &__wrapper {
        padding: 2rem;
        &-title {
          margin-bottom: 1rem;
        }
        &-slider {
          &__slides {
            margin-top: 2rem;
            &-slide {
              .uk-panel {
                max-width: 90%;
                margin: 0 auto;
              }
            }
          }
          .uk-dotnav {
            li {
              margin-bottom: 1rem;
            }
          }
          &__navs {
            display: none !important;
          }
        }
      }
    }
    .is-news {
      &__title {
        font-size: 1.625rem;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
  }

  .page {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
      .is-main-about {
        padding-top: 1rem;
        padding-bottom: 2rem;
        background: none;
        .is-theader {
          padding-top: 0;
        }
        .is-about {
          &__content {
            margin-top: 0;
            &-info {
              padding-right: 1rem;
              text-align: center;
            }
            &-video {
              padding-left: 1rem;
              margin-top: 1rem;
              &__info {
                text-align: center;
              }
            }
            &-bgi {
              display: none;
            }
          }
        }
      }
      .is-reviews {
        padding: 4rem 0;
        &__title {
          line-height: 2rem;
        }
        &__slider {
          margin-top: 0;
          &-slide {
            min-width: auto;
            &__review {
              &.show {
                margin-top: -16rem;
              }
            }
          }
          &-wrapper {
            .is-trust__wrapper-slider__navs {
              margin-bottom: 1rem;
            }
            .uk-slider-items {
              li {
                width: 95%;
              }
            }
          }
        }
        &__line-thin {
          top: -80px;
        }
      }
      .is-contacts {
        padding-bottom: 0;
        &__form {
          margin-top: 1rem;
          padding: 2rem 0;
          &-title {
            margin-bottom: 1rem;
          }
          form {
            display: block !important;
          }
          &-input {
            margin-bottom: 1rem;
            height: 60px;
          }
        }
        &__map {
          margin-top: 0;
        }
      }
    }
    &:not(.home) {
      .is-main {
        .is-theader {
          padding-top: 1rem;
        }
        .is-records {
          padding-top: .5rem;
          &__cards {
            padding-bottom: 2rem;
            &-circle {
              max-width: none;
              height: auto;
              padding: 3rem;
              &__title {
                text-align: center;
              }
              &__wrapper {
                order: 1;
                margin-top: 0;
                margin-bottom: 2rem;
              }
              &__inner {
                max-width: 300px;
                height: 300px;
              }
            }
            &-square {
              &__caption {
                font-size: 2.5rem;
                text-align: left;
                .capt {
                  font-size: 2.5rem;
                }
              }
              &__wrapper {
                margin-top: 1rem;
                &-caption {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  text-align: left;
                }
                &:nth-child(1) {
                  order: 2;
                }
                &:nth-child(2) {
                  order: 3;
                }
                &:nth-child(5) {
                  order: 5;
                }
                &:nth-child(4) {
                  order: 4;
                }
              }
            }
          }
          &__round-right {
            display: none;
          }
        }
        .is-work {
          &__cards {
            &-card {
              border-top: none !important;
              border-left: 3px dashed rgba(255,255,255,0.5);
              -webkit-border-radius: 50% 0 0 50%;
              -moz-border-radius: 50% 0 0 50%;
              border-radius: 50% 0% 0 50%;
              padding-bottom: 2rem;
              border-bottom: none;
              &:first-child {
                border-bottom: none;
              }
              &:nth-child(2n) {
                border-top: none;
                border-right: 3px dashed rgba(255,255,255,0.5);
                -webkit-border-radius: 0 50% 50% 0;
                -moz-border-radius: 0 50% 50% 0;
                border-radius: 0 50% 50% 0;
                padding-bottom: 2rem;
                margin-top: 0;
                border-bottom: none;
                border-left: none;
              }
              &:nth-child(4) {
                order: 4;
              }
              &:nth-child(5) {
                order: 5;
              }
              &:nth-child(6) {
                order: 6;
              }
              &:nth-child(7) {
                border-top: none;
              }
            }
          }
          &__banner {
            padding: 1rem;
            &-title {
              font-size: 2rem;
              text-align: center;
              line-height: 2rem;
              margin-bottom: 1rem;
            }
            &-wrapper {
              padding: 3rem 1.5rem;
              z-index: 40;
              .d-block {
                width: 100%;
              }
            }
            &-btn {
              display: block;
              width: 100%;
              text-align: center;
            }
          }
          &__line-bold {
            top: 2rem;
            left: 1rem;
          }
          &__logo {
            &-bg {
              display: none;
            }
          }
        }
        .is-contacts {
          padding: 1.5rem 1rem 10rem;
          .wpcf7-form {
            .col-lg-4 {
              margin-top: 3rem;
            }
            .form-check {
              display: flex;
            }
          }
          .wpcf7-submit {
            margin-top: 1rem;
          }
        }
        .is-reviews {
          &__title {
            line-height: 2rem;
          }
        }
      }
    }
  }

  .category,
  .archive {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }

    .is-main {
      overflow-x: hidden;
      .is-theader {
        padding-top: 1rem;
      }
      .is-catlist {
        padding: 1rem;
        &__cards {
          justify-content: center;
          &-card {
            &__wrapper {
              &-header {
                &__title {
                  margin-bottom: 0;
                }
              }
              &-body {
                max-height: 400px !important;
              }
            }
          }
        }
      }
    }
  }

  .single {
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
      .is-category {
        &-title {
          padding: 2rem 0rem 5rem !important;
          &__title {
            text-align: center !important;
            font-size: 1.5rem !important;
          }
          &__dropdown {
            margin-top: 2rem;
          }
        }
        &-products {
          padding-bottom: 4rem !important;
          &__card {
            &:first-child {
              margin-top: 2rem !important;
            }
            &-portfolio {
              .col-lg-12.d-flex.justify-content-center {
                display: block !important;
              }
            }
            &-btn {
              display: block;
              text-align: center;
              margin-top: 1rem !important;
            }
            &-bbtn {
              display: block;
              text-align: center;
              margin-top: 1rem !important;
            }
          }
          &__line-bold {
            display: none;
          }
          &__line-thin {
            display: none;
          }
        }
      }
    }
    &-portfolio {
      .is-main {
        .is-news {
          &-single {
            &__title {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .is-header {
    overflow: hidden;
    .is-navbar {
      background: rgba(43,49,65,1);
      position: relative;
      &.thin {
        background: rgba(43,49,65,1);
        position: fixed;
      }
      &__contacts {
        color: #ffffff;
        &__item {
          margin-right: 3rem;
          &.mob-top-phone-navbar {
            display: block;
            .title {
              img {
                margin-left: 0;
              }
            }
          }
        }
      }
      .navbar-brand {
        img {
          max-height: 48px;
          margin-right: 1rem;
        }
        span {
          display: none;
        }
      }
      .desktop-menu-wrap {
        border-top: none;
      }
      .navbar-toggler {
        svg {
          width: 100%;
          height: 24px;
        }
      }
    }
    .is-navbar-mobile {
      transition: all .5s ease-in-out;
      transform: translate(0%, 100%);
      width: 100% !important;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: 300;
      padding: 1rem;
      display: block;
      background: #2b3141;
      overflow: hidden;
      &.show {
        transform: translate(0%);
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      &__divider {
        max-width: 80%;
        width: 100%;
        margin: 1rem auto;
        display: block;
        background: rgba(255,255,255,.5);
        height: 1px;
      }
      .navbar-brand {
        padding-top: 3rem;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        img {
          display: block;
          margin: 0 auto;
        }
        span {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          text-align: center;
        }
      }
      &__contacts {
        display: block !important;
        width: 100%;
        &-wrapper {
          width: 100%;
        }
        &__item {
          display: block;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
      .desktop-menu-wrap {
        .navbar-nav {
          li {
            text-align: center;
            &.active {
              .nav-link {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .is-footer {
    .container {
      max-width: 767px;
    }
    &__menu {
      padding: 1.5rem 0;
    }
    &__social {
      padding: .5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .btn {
        &:first-child {
          margin-top: 1rem !important;
        }
      }
    }
    &__contacts {
      &-wrapper {
        &__content {
          padding: 1rem;
          &-title {
            position: relative;
            z-index: 1;
          }
          &-item {
            position: relative;
            z-index: 1;
            .link {
              margin-left: 0;
            }
          }
          &:after {
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
          }
        }
      }
    }
    &__logo {
      min-height: auto;
      &-img {
        max-width: 100px;
        left: -1rem;
      }
    }
  }

  .is-main {
    .section {
      &__order {
        margin-top: 2.5rem;
        &__block {
          margin-bottom: .5rem;
          border-radius: 10px;
          display: block;
          -webkit-background-size: cover !important;
          background-size: cover !important;
          &:before {
            display: none;
          }
          &__title {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
          &__btn {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .is-slider {
      min-height: 300px;
      .uk-slideshow {
        .uk-slideshow-items {
          li {
            min-height: auto;
            img {
            }
            .uk-position-center {
              h2 {
                font-size: 1.75rem;
              }
              p {
                font-size: 1.25rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      &__btn {
        font-size: 1rem;
        padding: .5rem 3rem;
        margin-top: 1.5rem;
      }
      &__social {
        display: none;
      }
      &__mouse {
        max-width: 124px;
        bottom: calc(0% - 100px);
        z-index: 100;
      }
      .uk-dotnav {
        display: none;
      }
    }
    .is-working {
      padding-top: 2.5rem;
      h2 {
        margin-bottom: 2rem;
      }
      &__round-right {
        display: none;
      }
      &__cards {
        display: none;
      }
    }
    .is-about {
      &__wrapper {
        padding: 2rem 0;
        &__info {
          justify-content: center;
          &-title {
            text-align: center;
          }
          &-content {
            margin-top: 2rem;
          }
        }
        &-cards {
          &__card {
            position: relative;
            z-index: 2;
            &-btn {
              &:hover {
                -webkit-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                -moz-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
              }
            }
          }
        }
      }
      &__logo-left {
        opacity: .25;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
    .is-trust {
      &__wrapper {
        padding: 2rem;
        &-slider {
          .uk-dotnav {
            li {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    .is-news {
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
  }

  .page {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
      .is-main-about {
        padding-top: 1rem;
        padding-bottom: 2rem;
        background: none;
        .is-theader {
          padding-top: 0;
        }
        .is-about {
          &__content {
            margin-top: 0;
            &-video {
              padding-left: 1rem;
              margin-top: 1rem;
            }
            &-bgi {
              display: none;
            }
          }
        }
      }
      .is-records {
        padding-top: .5rem;
        &__cards {
          padding-bottom: 2rem;
          &-circle {
            max-width: none;
            height: auto;
            padding: 3rem;
            width: 100%;
            &__wrapper {
              order: 1;
              margin-top: 0;
              margin-bottom: 2rem;
            }
            &__inner {
              max-width: 550px;
              width: 100%;
            }
          }
          &-square {
            &__wrapper {
              margin-top: 1rem;
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 3;
              }
              &:nth-child(5) {
                order: 5;
              }
              &:nth-child(4) {
                order: 4;
              }
            }
          }
        }
        &__round-right {
          display: none;
        }
      }
      .is-work {
        &__cards {
          &-card {
            border-top: none !important;
            border-left: 3px dashed rgba(255,255,255,0.5);
            -webkit-border-radius: 50% 0 0 50%;
            -moz-border-radius: 50% 0 0 50%;
            border-radius: 50% 0% 0 50%;
            padding-bottom: 2rem;
            border-bottom: none;
            &:nth-child(2n) {
              border-top: none;
              border-right: 3px dashed rgba(255,255,255,0.5);
              -webkit-border-radius: 0 50% 50% 0;
              -moz-border-radius: 0 50% 50% 0;
              border-radius: 0 50% 50% 0;
              padding-bottom: 2rem;
              margin-top: 0;
              border-bottom: none;
              border-left: none;
            }
            &:nth-child(4) {
              order: 4;
            }
            &:nth-child(5) {
              order: 5;
            }
            &:nth-child(6) {
              order: 6;
            }
            &:nth-child(7) {
              border-top: none;
            }
          }
        }
        &__banner {
          &-title {
            font-size: 2rem;
            text-align: center;
          }
          &-wrapper {
            padding: 3rem 1.5rem;
            z-index: 40;
            .d-block {
              width: 100%;
            }
          }
          &-btn {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
        &__line-bold {
          top: 2rem;
          left: 1rem;
        }
      }
      .is-reviews {
        padding: 4rem 0;
        &__title {
          line-height: 2rem;
        }
        &__slider {
          &-wrapper {
            .uk-slider-items {
              li {
                width: 100%;
              }
            }
            .is-trust__wrapper-slider__navs {
              margin-top: 4rem;
            }
          }
        }
        &__line-thin {
          top: -80px;
        }
      }
      .is-contacts {
        padding-bottom: 0;
        &__form {
          margin-top: 1rem;
          padding: 2rem 0;
          &-title {
            margin-bottom: 1rem;
          }
          form {
            display: block !important;
          }
          &-input {
            margin-bottom: 1rem;
            height: 60px;
          }
        }
        &__map {
          margin-top: 0;
        }
      }
    }
    &:not(.home) {
      .is-main {
        .is-theader {
          padding-top: 1rem;
        }
        .is-records {
          padding-top: .5rem;
          &__cards {
            padding-bottom: 2rem;
            justify-content: center;
            &-circle {
              max-width: none;
              height: auto;
              padding: 3rem;
              &__title {
                text-align: center;
              }
              &__wrapper {
                order: 1;
                margin-top: 0;
                margin-bottom: 2rem;
                max-width: 450px;
              }
              &__inner {
                max-width: 300px;
                height: 300px;
              }
            }
            &-square {
              &__caption {
                font-size: 2.5rem;
                text-align: left;
                .capt {
                  font-size: 2.5rem;
                }
              }
              &__wrapper {
                margin-top: 1rem;
                &-caption {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  text-align: left;
                }
                &:nth-child(1) {
                  order: 2;
                }
                &:nth-child(2) {
                  order: 2;
                }
                &:nth-child(3) {
                  order: 3;
                }
                &:nth-child(5) {
                  order: 5;
                }
                &:nth-child(4) {
                  order: 4;
                }
              }
            }
          }
          &__round-right {
            display: none;
          }
        }
        .is-work {
          &__cards {
            &-card {
              &:first-child {
                border-bottom: none !important;
                padding-bottom: 3rem;
              }
              &:nth-child(3) {
                padding-bottom: 3rem;
              }
              &:nth-child(4) {
                order: 4;
              }
              &:nth-child(5) {
                padding-bottom: 3rem;
                border-bottom: none;
              }
              &:nth-child(6) {
                order: 6;
              }
            }
          }
          &__banner {
            padding: 1rem;
            &-title {
              font-size: 2rem;
              text-align: center;
              line-height: 2rem;
              margin-bottom: 1rem;
            }
            &-wrapper {
              padding: 3rem 1.5rem;
              z-index: 40;
              .d-block {
                width: 100%;
              }
            }
            &-btn {
              display: block;
              width: 100%;
              text-align: center;
            }
          }
        }
        .is-contacts {
          padding: 1.5rem 1rem 10rem;
          .wpcf7-form {
            .col-lg-4 {
              margin-top: 3rem;
            }
            .form-check {
              display: flex;
            }
          }
          .wpcf7-submit {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .category,
  .archive {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }

    .is-main {
      overflow-x: hidden;
      .is-theader {
        padding-top: 1rem;
      }
      .is-catlist {
        padding: 1rem;
      }
    }
  }

  .single {
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
    }
    .is-category {
      &-title {
        padding: 2rem 0rem 5rem !important;
        &__title {
          text-align: center !important;
          font-size: 1.5rem !important;
        }
        &__dropdown {
          margin-top: 2rem;
        }
      }
      &-products {
        padding-bottom: 4rem !important;
        &__card {
          &:first-child {
            margin-top: 2rem !important;
          }
          &-portfolio {
            .col-lg-12.d-flex.justify-content-center {
              display: block !important;
            }
          }
          &-btn {
            display: block;
            text-align: center;
            margin-top: 1rem !important;
          }
          &-bbtn {
            display: block;
            text-align: center;
            margin-top: 1rem !important;
          }
        }
        &__line-bold {
          display: none;
        }
        &__line-thin {
          display: none;
        }
      }
    }
    &-portfolio {
      .is-main {
        .is-news {
          &-single {
            &__title {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width:  991px) {
  .is-header {
    overflow: hidden;
    .is-navbar {
      background: rgba(43,49,65,1);
      position: relative;
      &.thin {
        background: rgba(43,49,65,1);
        position: fixed;
      }
      &__contacts {
        color: #ffffff;
        &__item {
          margin-right: 3rem;
          &.mob-top-phone-navbar {
            display: block;
            .title {
              img {
                margin-left: 0;
              }
            }
          }
        }
      }
      .navbar-brand {
        img {
          max-height: 48px;
          margin-right: 1rem;
        }
        span {
          display: none;
        }
      }
      .desktop-menu-wrap {
        border-top: none;
      }
      .navbar-toggler {
        svg {
          width: 100%;
          height: 24px;
        }
      }
    }
    .is-navbar-mobile {
      transition: all .5s ease-in-out;
      transform: translate(0%, 100%);
      width: 100% !important;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: 300;
      padding: 1rem;
      display: block;
      background: #2b3141;
      overflow: hidden;
      &.show {
        transform: translate(0%);
        opacity: 1;
        transition: all .5s ease-in-out;
      }
      &__divider {
        max-width: 80%;
        width: 100%;
        margin: 1rem auto;
        display: block;
        background: rgba(255,255,255,.5);
        height: 1px;
      }
      .navbar-brand {
        padding-top: 3rem;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        img {
          display: block;
          margin: 0 auto;
        }
        span {
          display: block;
          margin: 0 auto;
          font-size: 1rem;
          text-align: center;
        }
      }
      &__contacts {
        display: block !important;
        width: 100%;
        &-wrapper {
          width: 100%;
        }
        &__item {
          display: block;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
      .desktop-menu-wrap {
        .navbar-nav {
          li {
            text-align: center;
            &.active {
              .nav-link {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .is-footer {
    .container {
      max-width: 991px;
    }
    &__menu {
      padding: 1.5rem 0;
    }
    &__social {
      padding: .5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .btn {
        &:first-child {
          margin-top: 1rem !important;
        }
      }
    }
    &__contacts {
      &-wrapper {
        &__content {
          padding: 1rem;
          &-title {
            position: relative;
            z-index: 1;
          }
          &-item {
            position: relative;
            z-index: 1;
            .link {
              margin-left: 0;
            }
          }
          &:after {
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
            transform: translate(0);
          }
        }
      }
    }
    &__logo {
      min-height: auto;
      &-img {
        max-width: 100px;
        left: -1rem;
      }
    }
  }

  .is-main {
    .section {
      &__order {
        margin-top: 2.5rem;
        &__block {
          margin-bottom: .5rem;
          border-radius: 10px;
          display: block;
          -webkit-background-size: cover !important;
          background-size: cover !important;
          &:before {
            display: none;
          }
          &__title {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
          &__btn {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .is-slider {
      min-height: 300px;
      .uk-slideshow {
        &-items {
          li {
            min-height: auto !important;
            img {
              min-height: 800px;
            }
            .uk-position-center {
              h2 {
                font-size: 1.75rem;
              }
              p {
                font-size: 1.25rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
      &__btn {
        font-size: 1rem;
        padding: .5rem 3rem;
        margin-top: 1.5rem;
      }
      &__social {
        display: none;
      }
      &__mouse {
        max-width: 124px;
        bottom: calc(0% - 100px);
        z-index: 100;
      }
      .uk-dotnav {
        display: none;
      }
    }
    .is-working {
      padding-top: 2.5rem;
      h2 {
        margin-bottom: 2rem;
      }
      &__round-right {
        display: none;
      }
    }
    .is-about {
      &__wrapper {
        padding: 2rem 0;
        &__info {
          justify-content: center;
          &-title {
            text-align: center;
          }
          &-content {
            margin-top: 2rem;
          }
        }
        &-cards {
          &__card {
            position: relative;
            z-index: 2;
            &-btn {
              &:hover {
                -webkit-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                -moz-box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
                box-shadow: inset 40em 0 0 0 $gorodokDarkBlue;
              }
            }
          }
        }
      }
      &__logo-left {
        opacity: .25;
      }
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
    .is-trust {
      &__wrapper {
        padding: 2rem;
        &-slider {
          .uk-dotnav {
            li {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    .is-news {
      &__line-bold {
        display: none;
      }
      &__line-thin {
        display: none;
      }
    }
  }

  .page {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }
    &:not(.home) {
      .is-main {
        .is-theader {
          padding-top: 1rem !important;
        }
        .is-records {
          padding-top: .5rem;
          &__cards {
            padding-bottom: 2rem;
            justify-content: center;
            &-circle {
              max-width: none;
              height: auto !important;
              padding: 3rem;
              &__title {
                text-align: center;
              }
              &__wrapper {
                order: 1 !important;
                max-width: 450px !important;
                margin-top: 1rem !important;
                margin-bottom: 1rem !important;
                height: auto !important;
              }
              &__inner {
                max-width: 300px !important;
                height: 300px !important;
              }
            }
            &-square {
              &__caption {
                font-size: 2.5rem;
                text-align: left;
                .capt {
                  font-size: 2.5rem;
                }
              }
              &__wrapper {
                margin-top: 1rem;
                &-caption {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  text-align: left;
                }
                &:nth-child(1) {
                  order: 2;
                }
                &:nth-child(2) {
                  order: 2;
                }
                &:nth-child(3) {
                  order: 3;
                }
                &:nth-child(5) {
                  order: 5;
                }
                &:nth-child(4) {
                  order: 4;
                }
              }
            }
          }
          &__round-right {
            display: none;
          }
        }
        .is-main-about {
          padding-top: 1rem;
          padding-bottom: 2rem;
          background: none;
          .is-theader {
            padding-top: 0;
          }
          .is-about {
            &__content {
              margin-top: 0;
              &-video {
                padding-left: 1rem;
                margin-top: 1rem;
              }
              &-bgi {
                display: none;
              }
            }
          }
        }
        .is-work {
          &__cards {
            &-card {
              border-left: 3px dashed rgba(255,255,255,0.5);
              -webkit-border-radius: 50% 0 0 50%;
              -moz-border-radius: 50% 0 0 50%;
              border-radius: 50% 0% 0 50%;
              padding-bottom: 2rem;
              border-bottom: none;
              &:nth-child(2n) {
                border-right: 3px dashed rgba(255,255,255,0.5);
                -webkit-border-radius: 0 50% 50% 0;
                -moz-border-radius: 0 50% 50% 0;
                border-radius: 0 50% 50% 0;
                padding-bottom: 2rem;
                margin-top: 0;
                border-bottom: none;
                border-left: none;
              }
              &:first-child {
                order: 2;
                border: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                border-bottom: 3px dashed rgba(255,255,255,0.5);
              }
              &:nth-child(2) {
                order: 1;
                border: none;
              }
              &:nth-child(3) {
                order: 3;
                margin-top: -.15rem;
                border-bottom: 3px dashed rgba(255,255,255,0.5);
                border-top: 3px dashed rgba(255,255,255,0.5);
              }
              &:nth-child(4) {
                order: 4 !important;
                border: none !important;
              }
              &:nth-child(5) {
                order: 6;
                border: none;
                margin-top: -.15rem;
                -webkit-border-radius: 0 50% 50% 0;
                -moz-border-radius: 0 50% 50% 0;
                border-radius: 0 50% 50% 0;
                border-top: 3px dashed rgba(255,255,255,0.5);
                border-right: 3px dashed rgba(255,255,255,0.5);
                border-bottom: 3px dashed rgba(255,255,255,0.5);
              }
              &:nth-child(6) {
                order: 5;
                border: none;
                margin-top: -.15rem;
              }
              &:nth-child(7) {
              }
            }
          }
          &__banner {
            &-title {
              font-size: 2rem;
              text-align: center;
            }
            &-wrapper {
              padding: 3rem 1.5rem;
              z-index: 40;
              .d-block {
                width: 100%;
              }
            }
            &-btn {
              display: block;
              width: 100%;
              text-align: center;
              &:hover {
                -webkit-box-shadow: inset 40em 0 0 0 #fff;
                -moz-box-shadow: inset 40em 0 0 0 #fff;
                box-shadow: inset 40em 0 0 0 #fff;
              }
            }
          }
          &__line-bold {
            top: 2rem;
            left: 1rem;
          }
        }
        .is-reviews {
          padding: 4rem 0;
          &__title {
            line-height: 2rem;
          }
          &__slider {
            &-wrapper {
              .uk-slider-items {
                li {
                  width: 60%;
                }
              }
              .is-trust__wrapper-slider__navs {
                margin-top: 4rem;
              }
            }
          }
          &__line-thin {
            top: -80px;
          }
        }
        .is-contacts {
          padding: 1.5rem 1rem 10rem;
          .wpcf7-form {
            .col-lg-4 {
              margin-top: 3rem;
            }
            .form-check {
              display: flex;
            }
          }
          .wpcf7-submit {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .category,
  .archive {
    .is-header {
      .is-navbar {
        background: rgba(43,49,65,1);
      }
    }

    .is-main {
      overflow-x: hidden;
      .is-theader {
        padding-top: 1rem;
      }
      .is-catlist {
        padding: 1rem;
      }
    }
  }

  .single {
    .is-main {
      .is-theader {
        padding-top: 1rem;
      }
    }
    .is-category {
      &-title {
        padding: 2rem 0rem 5rem !important;
        &__title {
          text-align: center !important;
          font-size: 1.5rem !important;
        }
        &__dropdown {
          margin-top: 2rem;
        }
      }
      &-products {
        padding-bottom: 4rem !important;
        &__card {
          &:first-child {
            margin-top: 2rem !important;
          }
          &-portfolio {
            .col-lg-12.d-flex.justify-content-center {
              display: block !important;
            }
          }
          &-btn {
            display: block;
            text-align: center;
            margin-top: 1rem !important;
            &:hover {
              -webkit-box-shadow: inset 40em 0 0 0 #fff !important;
              -moz-box-shadow: inset 40em 0 0 0 #fff !important;
              box-shadow: inset 40em 0 0 0 #fff !important;
            }
          }
          &-bbtn {
            display: block;
            text-align: center;
            margin-top: 1rem !important;
            &:hover {
              -webkit-box-shadow: inset 40em 0 0 0 #B6191C !important;
              -moz-box-shadow: inset 40em 0 0 0 #B6191C !important;
              box-shadow: inset 40em 0 0 0 #B6191C !important;
            }
          }
        }
        &__line-bold {
          display: none;
        }
        &__line-thin {
          display: none;
        }
      }
    }
    &-portfolio {
      .is-main {
        .is-news {
          &-single {
            &__title {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width:  1199px) {
  .is-header {
    .is-navbar {
      .navbar-brand {
        span {
          display: none;
        }
      }
    }
  }
  .is-footer {
    &__contacts {
      &-wrapper {
        &__content {
          &-title {
            z-index: 75;
            position: relative;
          }
          &-item {
            z-index: 75;
            position: relative;
          }
          &:after {
            -webkit-transform: translate(38%);
            -moz-transform: translate(38%);
            -ms-transform: translate(38%);
            -o-transform: translate(38%);
            transform: translate(38%);
            z-index: 74;
          }
        }
      }
    }
  }

  .is-main {
    .section {
      &__order {
        &__block {
          z-index: 70;
          &:before {
            left: 40%;
          }
        }
      }
    }
    .is-slider {
      min-height: 600px;
      .uk-slideshow-items {
        li {
          img {
            height: 150%;
          }
        }
      }
      &__mouse {
        bottom: calc(0% - 180px);
      }
    }
    .is-working {
      padding: 3rem 0 0;
      h2 {
        margin-bottom: 3rem;
      }
      &__round-right {
        z-index: 69;
      }
    }
    .is-about {
      &__wrapper {
        &-cards {
          &__card {
            z-index: 2;
            &-btn {
              width: 100%;
            }
          }
        }
      }
      &__logo-left {
        opacity: .25;
      }
      &__line {
        &-bold {
          left: 50px;
        }
        &-thin {
          left: 25px;
        }
      }
    }
    .is-news {
      padding: 3rem 0;
      &__line {
        &-bold {
          right: 50px;
        }
        &-thin {
          right: 25px;
        }
      }
    }
  }

  .page {
    .is-main {
      &-about {
        -webkit-background-size: 100%;
        background-size: 100%;
        .is-about {
          &__content {
            &-bgi {
              right: 0;
            }
          }
        }
      }
      .is-about {
        &__content {
          &-info {
            p {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .category {
    .is-main {
      .is-catlist {
        &__catbtns {
          &-card {
            &__title {
              word-break: break-word;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .is-footer {
    &__contacts {
      &-wrapper {
        &__content {
          &-title {
            position: relative;
            z-index: 70;
          }
          &-item {
            position: relative;
            z-index: 70;
          }
          &:after {
            -webkit-transform: translate(43%);
            -moz-transform: translate(43%);
            -ms-transform: translate(43%);
            -o-transform: translate(43%);
            transform: translate(43%);
            z-index: 69;
          }
        }
      }
    }
  }

  .is-main {
    .is-slider {
      min-height: 700px;
      .uk-slideshow-items {
        li {
          img {
            height: 150%;
          }
        }
      }
      &__mouse {
        bottom: calc(0% - 180px);
      }
    }
    .is-about {
      &__line {
        &-bold {
          left: 75px;
        }
        &-thin {
          left: 36px;
        }
      }
    }
    .is-news {
      &__line {
        &-bold {
          right: 36px;
        }
        &-thin {
          right: 75px;
        }
      }
    }
  }

  .page {
    .is-main {
      &-about {
        -webkit-background-size: 100%;
        background-size: 75%;
        .is-about {
          &__content {
            &-info {
              p {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}